@charset "ISO-8859-1";
@font-face{
	font-family: 'Right Chalk';
	src: url('Right Chalk.ttf') format('opentype');
	font-weight: normal;
	font-style:normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
	 background-size: cover;
	 background-repeat: no-repeat;
}
nav{
	margin: 0 2%;
    height: 8vh;
    position: fixed;
}
a{
    font-weight: 400;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1%;
}
a:hover{
	text-decoration: underline;
}
.navbar-nav{
	width: 40%;
}
.neo-section{
	
    height: 90vh;
}
.clear{clear: both}
.neo-container{
    position: relative;
    top: 40%; 
    margin-left: 5%;
    margin-right: 5%;
}
.wm{
    width: 50%;
    float: left;
    margin-top:25px;
}
.center{text-align: center}

.texto-color{
    margin-bottom: 25px;
    font-size: 2.6em;
    font-family: 'Right Chalk', Times, serif;
    font-weight: bold;
    color: #FFF;
}

/* .btn1{
	border: 2px solid #EEEEEE;
	color: #EEEEEE !important;
	background-color: transparent;
	padding: 15px 15px;
} */

.rodape{	
    background-color: #FFF;
    color: black;
    position: fixed;
    width:100%;
    bottom: 0;
    text-align: center;
    font-weight: bold;
}

/* Buttons */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #fcfcfc;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ececec;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 35%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #000000;
  background-color: #f1f1f1;
  box-shadow: rgba(218, 218, 218, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
/* ------------ */

@media screen and (max-width: 667px) {
    .wm{
        width: 100%;
    }
    .navbar-nav{
   		 background-color: #EEEEEE;
    }
    .texto-color{
    	font-size: 2.3em;
    }
    .neo-container{
   		 top: 25%;
    }
    a:hover{
    	 background-color: #000;
    	 color: #EEEEEE !important;
    }
    body{
    	background: none;
    }
}